/* Roboto Mono */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    font-family: "Roboto Mono", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: slateblue;
    color: aliceblue;
}
        
header {
    position: absolute;
    top: 20px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
        
#greeting-container {
    font-size: 1.6em;
    text-align: center;
    transition: transform 0.3s;
    cursor: pointer;
}

#emoji {
    display: inline;
    font-size: 2em;
}

#greeting {
    display: inline;
    font-size: 1.5em;
}

#greeting-container:hover {
    transform: scale(1.2);
}
        
footer {
    position: absolute;
    bottom: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.hint {
    color: rgb(155, 155, 229);
}

button, input, #weather {
    font-family: inherit;
    font-size: 1em;
    padding: 0.5em;
    border-radius: 0;
    border-style: solid;
    border: 1px none transparent;
    background-color: rgb(238, 225, 253);
    color: rgb(90, 28, 148, 0.5);
}

#weather {
    background-color: rgba(240, 248, 255, 0);
    color: aliceblue;
}

button:hover {
    cursor: crosshair;
    background: rgb(216, 177, 238);
}